.DS_Store
.vagrant

env

manifests/other

reference-app/helloworld
reference-app/manifests
reference-app/backend/__pycache__
reference-app/frontend/__pycache__
reference-app/trial/__pycache__

reference-dashboards

dashboards
vagrant
nul
