pymongo==3.11.0
prometheus-flask-exporter==0.18.3
Flask-PyMongo==2.3.0
opentracing==2.4.0
jaeger-client==4.3.0
Flask-OpenTracing==1.1.0
Flask==1.1.2
requests==2.23.0
Flask-Cors==3.0.10
pylint==2.4.0
gunicorn==20.0.4
